@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    background-color: rgb(218, 202, 202);
}

body {
    padding: 0px;
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    background-color: #ffffff;
    color: var(--apple-black);
    -webkit-font-smoothing: antialiased; /* Szebb betűkirajzolás */
}
h1 {
    margin: 20px;
    text-align: left;
    font-family: "Nunito", sans-serif;
    color: black;
}

h2 {
    margin: 20px;
    width: 800px;
}

p {
      font-family: "Nunito", sans-serif;  
}

.pop_up{
    display: flex;
    padding: 20px;
}

#first, #second, #thirtd, #fourth{
    width: 450px;
    border-radius: 20px;
    border: solid 5px gray;
    margin: 0px;
    padding: 0px;
}
p, #first_pop_up{
    margin: 10px;
}
